#formL {
    width: 500px;
    padding-top: 75px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

input {
    width: 500px;
    padding: 14px;
    text-align: left;
    background-color: white;
    display: block;
}

#binButtons {
    width: 528px;
    text-align: center;
    background-color: white;
    display: block;
}

button {
    padding: 14px 30px;
    background-color: white;
    color: black;
}

button:hover {
    -webkit-transition: border-bottom 1s linear;
    -moz-transition: border-bottom 1s linear;
    -ms-transition: border-bottom 1s linear;
    -o-transition: border-bottom 1s linear;
    border-bottom: 2px solid black;
}

.hiden {
    transform: scale(0);
}
