form {
    width: 500px;
    padding-top: 75px;
    margin: 0 auto;
}

input {
    width: 500px;
    padding: 14px;
    text-align: left;
    background-color: white;
    display: block;
}

#binButtons {
    width: 528px;
    text-align: center;
    background-color: white;
    display: block;
}

button {
    padding: 14px 30px;
    background-color: white;
    color: black;
}

button:hover {
    background-color: #fce1e0;
    color: white;
}
