#buyContent h1{
  font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}

#buyT {
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 75px;
  border-bottom: solid 5px white;
}
