* {
  padding: 0;
  border: 0;
  margin: 0;
}

#web-content {
  position: relative;
  min-height: 100vh;
  padding: 0;
  border: 0;
  margin: 0;
}
#topnav {
  position: relative;
  background-color: white;
  overflow: hidden;
}

#topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

#topnav a:hover {
  background-color: #fce1e0;
  color: white;
}

#centered a:hover {
  color: black;
  background-color: white;
}

#topnav a.active {
  background-color: purple;
  color: white;
}

#centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#right {
  float: right;
}

@media screen and (max-width: 600px) {
  #topnav a, #right {
    padding: 30px 16px;
    float: none;
    display: block;
  }
  
  #centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

/**
* 1. Centers the content.
* 2. Feel free to change this, this sets the width
* 3. Adds some internal 'padding' to the div
*/
#wrapper {
text-align: center;
margin-right: auto; /* 1 */
margin-left: auto; /* 1 */
max-width:1160px; /* 2 */
padding-right: 10px; /* 3 */
padding-left: 10px; /* 3 */
}

#txt1 {
  Text color: #000000;
  position: relative;
}

#txt1T {
  padding-top: 60px;
  padding-bottom: 100px;
  font-size: 75px;
  border-bottom: solid 5px white;
}

#txt1I {
  padding: 20px 20px;
}
#txt1T2 {
  padding-top: 100px;
  padding-bottom: 200px;
  font-size: 75px;
}

#txt1 h1, h2, h3 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}

#txt2T {
  padding-top: 60px;
  padding-bottom: 100px;
  font-size: 75px;
  border-bottom: solid 5px white;
}

#txt2T2 {
  padding-top: 100px;
  padding-bottom: 200px;
  font-size: 75px;
}

#txt2 h1, h2, h3 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}

#divider {
  padding: 60px 60px;
}

#foot {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 60px;
 background-color: white;
}
#copyright {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  border-bottom: solid 4px #fce1e0;
}
