
* {
  padding: 0;
  border: 0;
  margin: 0;
  background-color: #fce1e0;
}

.topnav {
  position: relative;
  background-color: white;
  overflow: hidden;
}
a {
      background-color: white;
   -webkit-transition: background 1s linear;
    -moz-transition: background 1s linear;
    -ms-transition: background 1s linear;
    -o-transition: background 1s linear;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  float: left;
  color: black;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
   -webkit-transition: background 1s linear;
    -moz-transition: background 1s linear;
    -ms-transition: background 1s linear;
    -o-transition: background 1s linear;
  background-color: #fce1e0;
  color: white;
}

.topnav-centered a:hover {
  background-color: white;
  color: black;
}
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }



  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
  
  h2 {
  padding: 60px 30px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  }

  email_field {
    padding: 14px 16px;
    display: block;
    text-align: center;
    background-color: white;
    color: black;
  }
  
#content-wrapper {
  padding: 14px 16px;
  background-color: white;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin: 60px;
  border: 60px;
  }
  
#content-title {
  text-align: center;
  padding: 14px 16px;
  background-color: white;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  }
  
#content-description {
  text-align: center;
  padding: 14px 16px;
  background-color: white;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  }
  
