#loginF {
  padding = 14px 16px;
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Oswald', sans-serif;
}

input {
  border: solid black 2px
}
#subLog {
  padding: 30px 30px;
  background-color: black;
  color: white;
}

#subLog:hover {
  color: lightgrey;
}
